onBoot="npm config set prefix '~/.npm-global'; touch ~/.profile; export PATH=~/.npm-global/bin:$PATH; source ~/.profile; bash installGlobles.sh"
run="npm run test"
entrypoint = "test/test.js"
language="js"


[packager]
	language="nodejs-npm"
	ignoredPaths=[".git"]